{{> header}}

<!-- Main Feature -->
<section class="kit-wrapper-flex" id="mj-main-feature">
	<div class="kit-column-medium kit-push-medium">
		<hr class="kit-spacer-20">
		<img src="http://placehold.it/500x500" class="kit-img-full">
		<hr class="kit-spacer-20">
		<a href="#" class="kit-button">Get an Invite?</a>
		<hr class="kit-spacer-20">
		<a href="#" class="kit-button">Take the M+J Quiz!</a>
		<hr class="kit-spacer-20">
		<p class="mj-hashtag-caption">Use #MistyAndJohn on <a href="#"><i class="fa fa-instagram"></i></a> or <a href="#"><i class="fa fa-twitter"></i></a></p>
	</div>
</section>

<!-- Sub-Feature Stripe -->
<section id="mj-subfeature-stripe">
	<div class="kit-wrapper-flex">
		<p>Who, what, when, etc&hellip;</p>
	</div>
</section>

<!-- Information -->
<section class="kit-wrapper-flex" id="mj-info">
	
	<!-- Date -->
	<h5>Date</h5>
	<p>July 3<sup>rd</sup>, 2015</p>
	
	<hr class="kit-spacer-30">
	
	<!-- Ceremony -->
	<h5>Ceremony</h5>
	<p>Some Kind of Field<br>
	123 Scenic Pl.<br>
	Beautiful, MA 01010</p>
	
	<hr class="kit-spacer-30">
	
	<!-- Reception -->
	<h5>Reception</h5>
	<p>L'Andana Grill<br>
	86 Cambridge St.<br>
	Burlington, MA 01803</p>
	
	<hr class="kit-spacer-30">
	
</section>

{{> footer}}